* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bg-dark {
    background-color: #111111;
    color: #FFFFFF;
}

.bg-red {
    background-color: #ED1C24;
    color: #FFFFFF;
}

.text-white {
    color: #FFFFFF;
}

.section-title {
    text-align: center;
    font-size: 37px;
    padding: 10px;
}

.section-article p {
    font-size: 17px;
    padding: 5px;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.nav-logo {
    display: flex;
    padding: 25px;
}

.nav-links {
    padding: 35px;
    justify-content: center;
    display: flex;
    gap: 10px;
    width: 100%;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.btn {
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    padding: 8px 16px;
    margin: 10px;
}

.presentation {
    background-image: url(img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.overlay-img {
    width: 437px;
    height: 275px;
}

.presentation-content {
    display: grid;
}

.presentation-content p {
    font-size: 47px;
}

.homologation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homologation-content {
    text-align: center;
    padding: 35px;
}

.homologation-buttons {
    display: flex;
    justify-content: space-between;
}

.homologation-content p {
    font-size: 30px;
}

.hom-btn {
    margin: 20px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content {
    text-align: center;
    padding: 35px;
    width: 50%;
}

.particularities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.particularities-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 35px;
}

.particularities-img {
    width: 579px;
    height: 334px;
}

.particularities-article {
    padding: 35px;
    width: 50%;
}

.footer {
    display: flex;
    background-color: #040000;
    align-items: center;
    justify-content: center;
}

.footer-img {
    padding: 35px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons {
    margin: 35px;
}

.social-icon {
    text-decoration: none;
    margin: 5px;
    font-size: 30px;
}